<?xml version="1.0" encoding="UTF-8"?>

<configuration>


  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%d %5p [ML] --- [%t] %-20.20c{39} : %m%n%ex</pattern>
    </encoder>
  </appender>

  <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>log/ML.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%d %5p [ML] --- [%t] %-20.20c{39} : %m%n%ex</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>log/ML.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>6GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <root level="info">
    <appender-ref ref="info"/>
    <appender-ref ref="console"/>
  </root>


</configuration>